body {
  width: 70%;
  color: #57595d;
  margin: auto;
}

footer {
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
}

h1,
h2 {
  font-weight: bold;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

li {
  list-style: none;
  font-size: 16px;
  opacity: 0.8;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0px;
}

/* general */

.container {
  border: 1px solid gray;
  border-radius: 15px;
  margin: 20px;
  margin: auto;
  background-color: #fcd9d9;
  padding: 20px 50px;
}

/* logo */
.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Roboto;
  color: #e0218a;
  font-size: 25px;
  margin-bottom: 20px;
}

.logo-container {
  margin: 10px;
}

/* form */

.form-container {
  margin: auto;
  padding: 15px 15px 0px;
}

/* current block */

.current-weather-indexes {
  vertical-align: bottom;
  margin-bottom: 30px;
  text-align: left;
}

.current-weather-icon {
  width: 120px;
}

.current-weather-city-block {
  text-align: left;
}

.current-city {
  font-size: 35px;
  font-weight: bold;
  line-height: 2.5;
  opacity: 1;
}

.current-date {
  font-size: 18px;
  font-weight: bolder;
  line-height: 2;
}

#feels-like {
  text-transform: initial;
}

.current-sky {
  text-transform: capitalize;
}

/* forecast */

.empty-short {
  height: 70px;
}

.empty {
  height: 124px;
}

.forecast {
  margin: auto;
}

.forecast-weather-container {
  margin-bottom: 15px;
}

.forecast-day {
  opacity: 0.7;
}

.forecast-temp-min {
  opacity: 0.5;
}

.forecast-icon {
  width: 70px;
}
