body {
  width: 70%;
  min-width: 60%;
  color: #57595d;
  padding: 40px;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 13px;
  font-weight: 400;
}

h4 {
  font-size: 13px;
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 13px;
}

a {
  text-decoration: none;
}

.container {
  padding: 30px;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 15px;
}

.current-weather-container {
  margin: 40px;
}

.current-weather-city-block {
  text-align: right;
}

.current-weather-icon {
  width: 50px;
}

.current-city {
  font-size: 25px;
  font-weight: bold;
}

.forecast-icon {
  width: 50px;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Roboto;
  color: #e0218a;
  font-size: 35px;
}

.logo-container {
  margin: 20px 15px;
}

.forecast-weather-container {
  margin-bottom: 20px;
}
