body {
  width: 70%;
  color: #57595d;
  margin: auto;
}

footer {
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
}

h1,
h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

h4 {
  font-size: 15px;
}

li {
  list-style: none;
  font-size: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 30px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #f8d3de;
}

.current-weather-container {
  margin-bottom: 20px;
}

.current-weather-city-block {
  text-align: right;
}

.current-weather-icon {
  width: 70px;
}

.current-city {
  font-size: 20px;
  font-weight: bold;
}

.current-sky {
  font-size: 14px;
  font-weight: bold;
}

.forecast-icon {
  width: 30px;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Roboto;
  color: #e0218a;
  font-size: 25px;
  margin-bottom: 20px;
}

.logo-container {
  margin: 10px;
}

.forecast-weather-container {
  margin-bottom: 20px;
}
